@use '../variables/theme' as theme;
@use '../variables/sizing' as sizing;

.border { border: 1px solid var(--color-dark) !important; }
.border-0 { border: 0 !important; }

@each $name, $color in theme.$theme {
    .border-#{$name} {
        border-color: #{$color} !important;
    }
}

.rounded { border-radius: sizing.$border-radius-base !important; }
.rounded-lg { border-radius: sizing.$border-radius-lg !important; }
.rounded-circle { border-radius: sizing.$border-radius-round !important; }

.img-thumbnail {
    padding: sizing.$border-radius-base;
    border: 1px solid var(--color-dark);
    border-radius: sizing.$border-radius-base;
}

.img-avatar, .img-round {
    @extend .rounded-circle;
    object-fit: cover;  
    width: 300px;
    height: 300px;
}