@use '../variables/sizing' as sizing;

ul, ol {
    margin-left: map-get(sizing.$spacers, 4);
    margin-bottom: map-get(sizing.$spacers, 3);

    li {
        margin-bottom: map-get(sizing.$spacers, 1);
        padding-left: map-get(sizing.$spacers, 1);
        
        &::marker {
            color: var(--color-secondary);
        }
    }
}